<h1>Hello, and welcome to the Simple Travel Agency!</h1>

This is a sample site you can test with BlazeMeter!

<p>trivial change</p>

<h2>Choose your departure city:</h2>
<form action="reserve/" method="post">
{% csrf_token %}
<select name="from_city">
	{% for city in cities %}
		<option value="{{city.name}}">{{city.name}}</option>
	{% endfor %}
</select>

<h2>Choose your arrival city:</h2>
<select name="to_city">
	{% for city in cities %}
		<option value="{{city.name}}">{{city.name}}</option>
	{% endfor %}
</select>
<br>
<br>
<input type="submit" class="btn btn-primary" value="Find Flights">
</form>
